.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

.main-content {
  padding: 20px 0;
}

@media (max-width: 768px) {
  .App {
    padding: 0 10px;
  }
  
  .main-content {
    padding: 10px 0;
  }
}